<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-shop-checkout" version="0.1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>shopCheckout</name>
    <author>Shotopup Agent</author>
    <repo>https://github.com/tradedepot/cordova-shop-checkout.git</repo>
   <keywords>Shop,checkout,cordova</keywords>
    <js-module name="ShopCheckout" src="www/shopCheckout.js">
        <clobbers target="cordova.plugins.ShopCheckout" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ShopCheckout">
                <param name="android-package" value="cordova/plugin/shop-checkout.ShopCheckout" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ShopCheckout.java" target-dir="src/cordova/plugin/shop-checkout/ShopCheckout" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
    </platform>
</plugin>